pipelines:
  default:
   # - step:
    #    name: Install deps
     #   script:
      #    - apt-get update -y && apt-get install python3-pip -y
   # - step:
    #    name: Test
     #   script:
      #  - pip install -r ./requirements.txt
      #  - ./manage.py test
    - step:
        name: Build
        script:
          - git archive --format=tar.gz master -o cloud-reader.tar.gz
        artifacts:
          - cloud-reader.tar.gz
    - step:
        name: Deploy to production
        deployment: production
        caches:
          - pip
        script:
          - pipe: atlassian/heroku-deploy:1.2.1
            variables:
              HEROKU_API_KEY: $HEROKU_API_KEY
              HEROKU_APP_NAME: $HEROKU_APP_NAME
              ZIP_FILE: cloud-reader.tar.gz